        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'tauxTaxTnbTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'tauxTaxTnbTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'tauxTaxTnbPrixMetreCarre' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'tauxTaxTnbPrixMetreCarre' | translate}}" [(ngModel)]="item.prixMetreCarre"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'tauxTaxTnbPrixRetardMetreCarre' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'tauxTaxTnbPrixRetardMetreCarre' | translate}}" [(ngModel)]="item.prixRetardMetreCarre"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="3">{{'tauxTaxTnbCategorieTerrain' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="categorieTerrains" [(ngModel)]="item.categorieTerrain" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'tauxTaxTnbCategorieTerrain' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCategorieTerrain('CategorieTerrain')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-categorie-terrain-create-admin></app-categorie-terrain-create-admin>


    </p-dialog>
