        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'terrainTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'terrainTabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'terrainRef' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'terrainRef' | translate}}" id="1" [(ngModel)]="item.ref"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTerrainRef}"  />
                                            <small class='p-error' *ngIf='!validTerrainRef'>Ref est obligatoire.</small>
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'terrainCategorieTerrain' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="categorieTerrains" [(ngModel)]="item.categorieTerrain" id="2" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="libelle" placeholder="{{'terrainCategorieTerrain' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                    <div class="field col-11 md:col-5">
                                        <label for="3">{{'terrainRedevable' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="redevables" [(ngModel)]="item.redevable" id="3" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="cin" placeholder="{{'terrainRedevable' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateRedevable('Redevable')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-redevable-create-admin></app-redevable-create-admin>


    </p-dialog>
